@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<GiayDep.Models.ProductItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    ProductCode
                </th>
                <th>
                    Color
                </th>
                <th>
                   Product
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductItemsId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductItemsId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductItemsId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", "ProductItems", new { page = page }), new PagedListRenderOptions()
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToIndividualPages = true,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
    PageClasses = new string[] { "page-item", "page-link" },
    ContainerDivClasses = new string[] { "pagination-container" },
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" }
})
</div>
