@model GiayDep.Models.NhaCungCap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa </h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Nhà cung cấp </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nhà cung cấp 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennhacc)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnhasxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnhasxNavigation.Idnhasx)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idnhacc" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về </a>
    </form>
</div>
