@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<GiayDep.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Các Mục Sản Phẩm</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Category.CategoryName
                </th>
                <th>
                    Brand
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandNavigation.BrandName)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="ProductItems" asp-action="Create" asp-route-id="@item.ProductId">Tạo Sản Phẩm</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Products", new { page = page }), new PagedListRenderOptions()
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToIndividualPages = true,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
    PageClasses = new string[] { "page-item", "page-link" },
    ContainerDivClasses = new string[] { "pagination-container" },
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" }
})
</div>

