@model IEnumerable<GiayDep.Models.CtPhieuNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách chi tiết phiếu nhập</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày nhập 
            </th>
            <th>
                Số lượng 
            </th>
            <th>
                Giá 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdphieunhapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdspNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdphieunhapNavigation.Idphieunhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdspNavigation.Idsp)
            </td>
            <td>
                <a asp-action="Edit">Chỉnh sửa </a> |
                <a asp-action="Details" >Chi tiết </a> |
                <a asp-action="Delete">Xóa </a>
            </td>
        </tr>
}
    </tbody>
</table>
